/* 141 */
[page-num="141"] .content {
  background: url(../img/L1_141/bg.png) no-repeat center / 100%;
}

/* 142 */
[page-num="142"] .content {
  background: url(../img/L1_142/bg.png) no-repeat center / 100%;
}
[page-num="142"] .input.unit {
  width: 471px;
  top: 528px;
  left: 1403px;
}
[page-num="142"] .input.unit em.e1 {
  margin-right: 24px;
  top: -9px;
  position: relative;
}
/* 143 */
[page-num="143"] .content {
  background: url(../img/L1_143/bg.png) no-repeat center / 100%;
}
[page-num="143"] .input.unit {
  width: 507px;
  top: 445px;
  left: 1368px;
}
/* 144 */
[page-num="144"] .content {
  background: url(../img/L1_144/bg.png) no-repeat center / 100%;
}
[page-num="144"] .answer_wrap.is_btn {
  top: 355px;
  left: 452px;
  align-items: flex-start;
}
[page-num="144"] .answer_wrap.is_btn .item + .item {
  margin-top: 54px;
}
/* 145 */
[page-num="145"] .content {
  background: url(../img/L1_145/bg.png) no-repeat center / 100%;
}
[page-num="145"] .input.unit {
  width: 437px;
  top: 445px;
  left: 1437px;
}
/* 146 */
[page-num="146"] .content {
  background: url(../img/L1_146/bg.png) no-repeat center / 100%;
}
[page-num="146"] .item {
  position: absolute;
  top: 50px;
  left: 393px;
}
[page-num="146"] .item.a2 {
  top: 217px;
  left: 1306px;
}

/* 147 */
[page-num="147"] .content {
  background: url(../img/L1_147/bg.png) no-repeat center / 100%;
}
[page-num="147"] .answer_wrap.is_btn {
  top: 567px;
  left: 570px;
}
[page-num="147"] .answer_wrap.is_btn .item + .item {
  margin-left: 200px;
}
/* 148 */
[page-num="148"] .content {
  background: url(../img/L1_148/bg.png) no-repeat center / 100%;
}
[page-num="148"] .answer_wrap.is_btn {
  top: 551px;
  left: 523px;
}
[page-num="148"] .answer_wrap.is_btn .item + .item {
  margin-left: 160px;
}
[page-num="148"] .answer_wrap.is_btn .item.a3 {
  margin-left: 133px;
}
/* 149 */
[page-num="149"] .content {
  background: url(../img/L1_149/bg.png) no-repeat center / 100%;
}
[page-num="149"] .input.unit {
  width: 339px;
  top: 442px;
  left: 1534px;
}
/* 150 */
[page-num="150"] .content {
  background: url(../img/L1_150/bg.png) no-repeat center / 100%;
}
[page-num="150"] .input.unit {
  width: 339px;
  top: 477px;
  left: 1534px;
}
/* 151 */
[page-num="151"] .content {
  background: url(../img/L1_151/bg.png) no-repeat center / 100%;
}

/* 152 */
[page-num="152"] .content {
  background: url(../img/L1_152/bg.png) no-repeat center / 100%;
}

/* 153 */
[page-num="153"] .content {
  background: url(../img/L1_153/bg.png) no-repeat center / 100%;
}

/* 154 */
[page-num="154"] .content {
  background: url(../img/L1_154/bg.png) no-repeat center / 100%;
}

/* 155 */
[page-num="155"] .content {
  background: url(../img/L1_155/bg.png) no-repeat center / 100%;
}

/* 156 */
[page-num="156"] .content {
  background: url(../img/L1_156/bg.png) no-repeat center / 100%;
}

/* 157 */
[page-num="157"] .content {
  background: url(../img/L1_157/bg.png) no-repeat center / 100%;
}

/* 158 */
[page-num="158"] .content {
  background: url(../img/L1_158/bg.png) no-repeat center / 100%;
}

/* 159 */
[page-num="159"] .content {
  background: url(../img/L1_159/bg.png) no-repeat center / 100%;
}

/* 160 */
[page-num="160"] .content {
  background: url(../img/L1_160/bg.png) no-repeat center / 100%;
}
